<!DOCTYPE html>


<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js"></script>

        <title>TestApp</title>
        <style>
            .box {
                padding: 0.5em;
                width: 100%;
                margin:0.5em;
            }

            .box-2 {
                padding: 0.5em;
                width: calc(100%/2 - 1em);
            }

            .btn{
                background:white;
                color:black;
                border:1px solid black;
                padding: 0.5em 1em;
                text-decoration:none;
                margin:0.8em 0.3em;
                display:inline-block;
                cursor:pointer;
            }

            .hide {
                display: none;
            }

            img {
                display: block;

                /* This rule is very important, please don't ignore this */
                max-width: 100%;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Text Detection Result</h1>
        </div>

        <div style = "max-width: 600px; max-height: 600px">
            <img id = 'img' src = "<%= file %>" class="img-responsive" 
                style="width:600px;height:600px;object-fit:contain"/>
        </div>
        <script>
        </script>




        

    </body>
</html>
