<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js"></script>

        <title>TestApp</title>
        <style>
            .box {
                padding: 0.5em;
                width: 100%;
                margin:0.5em;
            }

            .box-2 {
                padding: 0.5em;
                width: calc(100%/2 - 1em);
            }

            .btn{
                background:white;
                color:black;
                border:1px solid black;
                padding: 0.5em 1em;
                text-decoration:none;
                margin:0.8em 0.3em;
                display:inline-block;
                cursor:pointer;
            }

            .hide {
                display: none;
            }

            img {
                display: block;

                /* This rule is very important, please don't ignore this */
                max-width: 100%;
            }
        </style>
    </head>
    <body>
        <h1>PDF to text</h1>
        <h3>"URL: " <span id="myText"></span></h3>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <!-- saves file "avatar" locally-->
            <input type="file" name = "raw_img" />

            <!-- submits /upload POST request-->
            <button type="submit">Convert</button>
        </form>

         

        <div style = "max-width: 600px; max-height: 600px">
            <!-- Takes the filepath stored in variable:file uploaded from upload.js-->
            <img id = 'input' src = "<%= file %>" class="img-responsive" 
                    style="object-fit:contain"/> 

            <form action="/cropped" method="POST">
                <input type="text" class = "send hide" value = "" name = "cropped_img">
                <input type="text" class = "send_2 hide" value = "" name = "cropped_img_filename">
                <input type="submit" class= "btn save" value = "Analyze Region">
                
                <div class="img-result hide">
                    <!-- result of crop -->
                        <img class="cropped" src="" alt="" name = "cropped_img">
                </div>  
            </form>
              
        </div>

        
    
        <script>
            let save = document.querySelector('.save'),
            img_result = document.querySelector('.img-result'),
            cropped = document.querySelector('.cropped'),
            cropping = document.querySelector('.cropping')
            send = document.querySelector('.send')
            send_2 = document.querySelector('.send_2')
            // import 'cropperjs/dist/cropper.css';
            image = document.getElementById('input');
            
            const cropper = new Cropper(image, {
            viewMode: 2,    
            rotatable: true,
            crop(event) {
                console.log(event.detail.x);
                console.log(event.detail.y);
                console.log(event.detail.width);
                console.log(event.detail.height);
                console.log(event.detail.rotate);
                console.log(event.detail.scaleX);
                console.log(event.detail.scaleY);
            },
            });

            //when user clicks the analyze crop button
            save.addEventListener('click',(e)=>{
                // get crop result to dataURL base64 format
                let imgSrc = cropper.getCroppedCanvas({
                    maxWidth: 1000,
                    maxHeight: 1000,
                    fillColor: '#fff'
                }).toDataURL();
                
                //hide html elements
                cropped.classList.remove('hide');
                img_result.classList.remove('hide');

                // show image cropped
                cropped.src = imgSrc;

                //var src = imgSrc;

                //debugging purposes
                document.getElementById("myText").innerHTML = imgSrc;

                //send dataURL to post method so it can be sent to crop.js
                send.value = imgSrc;
            });
        </script>

        
    </body>
</html>